src/main/resources/META-INF/wsdl/HelloXSD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    targetNamespace="http://service.shyali.com"
    xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:impl="http://service.shyali.com"
    xmlns:intf="http://service.shyali.com"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:types="http://service.shyali.com.types">
    <!--WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 PDT) -->
    <wsdl:types>
        <xsd:schema targetNamespace="http://service.shyali.com">
            <xsd:import
                namespace="http://service.shyali.com.types"
                schemaLocation="HelloTypes.xsd" />
            <xsd:element
                name="sayHelloRequest"
                type="types:SayHelloRequest" />
                <xsd:element
                name="sayHelloResponse"
                type="types:SayHelloResponse" />
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="helloNameResponse">
        <wsdl:part
            element="impl:sayHelloResponse"
            name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="helloNameRequest">
        <wsdl:part
            element="impl:sayHelloRequest"
            name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HelloXSD">
        <wsdl:operation name="helloName">
            <wsdl:input
                message="impl:helloNameRequest"
                name="helloNameRequest">
            </wsdl:input>
            <wsdl:output
                message="impl:helloNameResponse"
                name="helloNameResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding
        name="HelloXSDSoapBinding"
        type="impl:HelloXSD">
        <soap:binding
            style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="helloName">
            <soap:operation soapAction="" />
            <wsdl:input name="helloNameRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="helloNameResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HelloXSDService">
        <wsdl:port
            binding="impl:HelloXSDSoapBinding"
            name="HelloXSDPort">
            <soap:address location="http://localhost:8080/shyali/GradleSoapTopDownXSD/HelloService" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>