resources/main/META-INF/HelloTypes.xsd

<xsd:schema
    version="1.0"
    elementFormDefault="qualified"
    targetNamespace="http://service.shyali.com.types"
    xmlns:types="http://service.shyali.com.types"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--********************************************************************* -->
    <!--Request/response elements -->
    <!--********************************************************************* -->
    <xsd:complexType
        name="SayHelloRequest">
        <xsd:sequence>
            <xsd:element
                name="name"
                type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType
        name="SayHelloResponse">
        <xsd:sequence>
            <xsd:element
                name="nameReturn"
                type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>